/* .bg-login{
  background-image: url('../src/img/mandir2.jpg');npm 
   background-size: cover;
  background-repeat: repeat; 
   background-position: center center;
  height:100vh; 
  overflow: hidden;
} */

.bg-login{
  background-image: url('../src/img/mandir.jpg');
   /* background-size: cover; */
  background-repeat: repeat; 
   /* background-position: center center; */
  height:100vh; 
  /* overflow: hidden; */
}


.bg-login .bg-layer{
  background-color: #efe8d6;
  opacity:0.5;
}

.login-form{

}

.login-inner-form{
  background-color: #fff;
  padding:50px 30px;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-inner-form h3{
  font-size:34px;
  font-weight:600;
  color: #232323;
  text-align: center;  
}


.login-inner-form label{
  font-size:20px;
  font-weight:600;
  color: #232323;
}

.login-inner-form input{
  padding:30px 15px ;
  background-color: rgba(239, 232, 214, 0.5) !important; 
  border: none !important;
  font-size: 20px;
  outline: none !important;
  color: #232323;
  border-radius:5px;
}

.login-inner-form input:focus{
  outline: none !important;
  box-shadow: none !important;
}

.login-inner-form button{
  background-color: #ff9933 ;
  padding: 20px;
  width:100%;
  border:none;
  color: #fff;
  font-size:20px;
  font-weight: 600;
  border-radius:10px;
  margin-top:30px;
  border-radius:5px;

}

.navbar-expand{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed !important;
  background-color: #fff;
  width:100%;
  top:0;
  height: 80px;
  z-index: 99;
}

.sidebar-content{
  height:calc(100vh - 120px);
  background-color: #fff ;
  width:100px;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: baseline;
  top: 100px;
  left:20px;
  border-radius:20px;
  border: 1px solid #ff9933;
  padding: 50px 0 10px 0;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.main-inner{
  padding:100px 40px 40px 150px;
  background-color: #fffdf5;
  width:100%;
  height:100vh;
}

.menu-sidebar{
  text-align: center;
  /* padding:30px; */
}

.menu-sidebar button{
  background-color: transparent;
  color: #ff9933;
  font-size:13px;
  text-align: center;
  width:100%;
  font-weight: 600;
  border: none;
}

.menu-sidebar button img{
  width:40%;
  margin-bottom:15px;
}

.panel-inner .sidebar-title{
  width:100%;
  /* background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
  /* padding:10px; */
  border-radius: 5px;
}

.panel-inner .sidebar-title .tab-link{
  background-color: #fff ;
  color: #7e7e7e;
  border: none;
  font-size:16px;
  width:max-content;
  font-weight: 600;
  padding:10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.main-button{
  background-color: #ff9933 ;
  color: #fff;
  border: 1px solid #ff9933;
  font-size:16px;
  font-weight:600;
  padding:10px 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 10px;
}

.table-dash .table thead th{
  border-bottom:none !important;
  background-color: #fff ;
  color: #7e7e7e;
  padding-top:15px !important;
  font-size:18px !important;
  font-weight:600;
  padding-bottom:15px !important;

}

.table-dash{
  height:calc(100vh - 280px);
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius:20px;
  background-color: #fff;
}

.table-dash .table{
  /* height:calc(100vh - 425px); */
  background-color: #fff;
  margin-bottom: 0;
  
}

.pagination{
  justify-content: end;

}

.react-bootstrap-table-pagination{
  padding-left:20px !important;
  padding-right: 20px !important;
}

.pagination a{
  color: #232323 !important;
}

.pagination .active a{
  background-color: #ff9933  !important;
  color: #fff !important;
  border:none;
  outline: none !important;
  box-shadow: none !important;
}

.profile button{
  background-color: #fff;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: #232323 !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.profile img{
  width:40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.modal-90w{
  max-width:90vw !important;
}

.button-group-pills{
  background-color: #fff;
  padding:10px;
  margin-bottom:20px;
  /* border: 1px solid #ff9933; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.button-group-pills label{
  background-color: #fff;
  color: #7e7e7e;
  font-size:16px;
  font-weight: 600;
  padding:10px 20px;
  border-color: rgb(210, 210, 210);
  margin-bottom: 0;
  border-radius:10px;
  /* margin-right:20px; */
  transition: all 0.5s ease-in-out;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.button-group-pills label:hover{
  background-color: #e6e6e6 ;
  border-color: #ff9933 ;
  cursor: pointer;
}
.button-group-pills label:active{
  background-color: rgb(233, 233, 233);
}
.button-group-pills input[type='radio']{
  display: none;
}
.button-group-pills input[type='radio']:checked + label{
  background-color: #ff9933 ;
  border-color: #ff9933 ;
  color: #fff;
  cursor: pointer;
}

.react-datepicker-wrapper{
  width:auto !important;
}

.react-datepicker-wrapper input{
  padding:10px 20px;
  margin-left: 8px;
  background-color:#fff;
  font-size:16px;
  font-weight: 600;
  color: #232323;
  border: none;
  border-radius:10px;
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.card-header{
  background-color: #ff9933  !important;
  background: #ff9933  !important;
  color: #fff;
}


.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height:8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f9af68;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f9af68;
}

.table-bordered td, .table-bordered th{
  white-space: nowrap;
}

.calender-img{
  right:10px;
  top:12px;
  z-index:9;
  width:20px;
}

.logout-btn{
  position: absolute;
  bottom: 0;
  left:0;
}


.menu-sidebar .logout-btn img{
  width:40px;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 3px 13px 0px;
  border-radius: 15px;
}